<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/gerenciarCliente.css">
    <title>Document</title>
</head>

<body>

    <header></header>
    <main>
        <div class="col-12 d-flex ">
            <div class="sideMenu col-2">
                <div class="nameAdm">
                    <h3>Julio Cesar</h3>
                </div>
                <div class="actionClient">
                    <h5>Clientes</h5>
                    <button class="btnAction" onclick="htmlCliente()">
                       <div class="d-flex justify-content-center align-items-center">
                            <div class="iconList">
                                <img src="./assets/iconList.svg" alt="">
                            </div>
                            <strong>Listar</strong>
                       </div>
                    </button>
                    <button class="btnAction">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="iconEdit">
                                <img src="./assets/iconEdit.svg" alt="">
                            </div>
                            <strong>Editar</strong>
                       </div>
                    </button>
                    <button class="btnAction">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="iconDelete">
                                <img src="./assets/iconDelete.svg" alt="">
                            </div>
                            <strong>Deletar</strong>
                       </div>
                    </button>
                </div>
                <div class="actionClient">
                    <h5>Carros</h5>
                    <button class="btnAction" onclick="htmlCliente()">
                       <div class="d-flex justify-content-center align-items-center">
                            <div class="iconList">
                                <img src="./assets/iconList.svg" alt="">
                            </div>
                            <strong>Listar</strong>
                       </div>
                    </button>
                    <button class="btnAction">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="iconEdit">
                                <img src="./assets/iconEdit.svg" alt="">
                            </div>
                            <strong>Editar</strong>
                       </div>
                    </button>
                    <button class="btnAction">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="iconDelete">
                                <img src="./assets/iconDelete.svg" alt="">
                            </div>
                            <strong>Deletar</strong>
                       </div>
                    </button>
                </div>
            </div>
            <div class="renderConteudo col-10">
                
            </div>
        </div>
        
    </main>
    <footer></footer>
    <script defer src="./js/buscarCliente.js"></script>
    <script src="../components/htmlCliente.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</body>

</html>