html {
    scroll-behavior: smooth;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #d5c6c6;
    border-radius: 20px;
}

/*Pardrão de tela inicial 1920x1080*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nunito, sans-serif;
}

/*Remover _reboot.scss*/
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

/*Remover _reboot.scss*/

body {
    background: #ffffff !important;
    font-family: 'Nunito', sans-serif;

}

header {
    background-color: white;
    filter: drop-shadow(0px 50px 250px rgba(0, 0, 0, 0.137));
}



/*Navbar*/
.nav {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.mobile {
    display: none;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

}

.nav-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px 16px !important;
}



.nav ul li {
    list-style: none;
    width: 150px;
}

.nav .nav-contato,
.nav-ajuda {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav .nav-button button {
    width: 174px;
    height: 59px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12pt;
    background-color: #550FED;
    border-radius: 9px;

}

.nav-ajuda p,
.nav-contato p {
    font-weight: bold;
    margin-bottom: 0px;
}

.nav-button button:hover {
    background-color: #0b5ed7;
    transition: 0.2s;
}


/*titulo*/
.titulo {
    margin: 40px 0px 80px 0px;
    width: 100%;
}

.titulo h1 {
    width: 100%;
    font-size: 80px;
    font-weight: 900;
}

/*fim titulo*/


/*FILTRO*/
.boxPrincipalFiltro {
    text-align: center;
}

.boxFiltro {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    display: inline-block;
    max-width: 790px;
    margin-bottom: 60px;
}

.boxOpcaoFiltro {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boxFiltro h1 {
    border-bottom: 1px solid black;
}

.opcaoFiltro {
    display: flex;
    margin-top: 10px;
}

.btnFiltro {
    width: 60px;
    height: 38px;
    border-radius: 8px;
    margin-right: 5px;
    border: 1px solid grey;
    background-color: white;
}

.btnFiltro:hover {
    background-color: #550FED;
    transition: 0.4s;
}

.opcao {
    font-weight: 900;
    margin-top: 8px;
    width: 100%;
}

/*FIM FILTRO*/



/*MODAL*/
.modal-body{
    text-align: center;
    align-items: center;
    margin-top: 100px;
}
#tipoCarro{
    text-transform: uppercase;
}
#imagemCarro{
    width: 60%;
    margin-bottom: 15px;
}
#nomeCarro{
    text-transform: uppercase;
}
.botao-box {
    margin-left: 5px;
}



/*Carros*/
.cardsCar button {
    background-color: #8148fc;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
    margin-top: 30px;
}

.principal {
    width: 100%;
    margin-left: 0px !important;
    margin-bottom: 30px;
    justify-content: center;
}

.cardsCar {
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
    transition: 1.4s;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.021));
    border: 1px solid grey;
    margin: 0px 10px 10px 10px;

}

.cardsCar:hover {
    border: 1px solid #eae6e6;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.318));
    transition: 0.3s;

}

.cardsCar img {
    width: 90%;

}

.infoClasses {
    min-height: 135px;
    max-height: 135px;
    margin-bottom: 8px;
}

.infoClasses h2 {
    font-size: 16px;
    font-weight: 500;
    color: #5f5f5f;
}

.infoClasses p {
    color: black;
    font-size: 12px;
    font-weight: 400;
}

.cardsCar button {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.cardsCar h2,
h3 {
    margin-bottom: 20px;
}
.preco{
    background-color: #f2f2f2;
    border-radius: 10px;
}
.preco span{
    font-size: 20px;
    font-weight: 600;
}
/*FIM CARROS*/



/*Footer*/

.footer-box {
    margin-top: 100px;
    padding-top: 70px;
    background-color: #fcf8f8;
}

.footer-text {
    font-size: 13px;
}

footer h1 {
    color: #404040;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
}

footer h1:hover {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
}

footer p {
    color: #404040;
    font-size: 20px;
    padding-bottom: 10px;
}


.pag {
    padding-top: 25px;
}

.pag h1 {
    font-size: 25px;
    font-weight: 600;
}

.pag h1:hover {
    font-size: 25px;
    font-weight: 600;
}

.pag p {
    font-size: 15px;
}

.pag img {
    width: 48px;
    height: 48px;
    padding: 7px;
    transition: 0.4s;
}

.pag img:hover {
    border-radius: 5px;
    background-color: #00000012;
    width: 48px;
    padding: 7px;
    transition: 0.4s;
}


/*Medida 1024*/

@media (max-width: 834px) { 
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }
    .mobile{
        display: flex;
    }
    .nav{
        display: flex;
        background-color: #fff;
        filter: drop-shadow(0px 50px 250px rgba(0, 0, 0, 0.511));
        height: 80px;
    }

    .nav-buttons{
        display: none;
    }

    .nav-options{
        display: flex;
        width: 100%;
        margin: 0 !important;
    }
   
    .nav-mobile-button{
        height: 40px;
        width: 50px;
        margin-right: 8px;
        margin-top: 8px;
        padding: 0px 8px;
        border: none;
        
        background-color: white;

    }

    .nav-mobile-button span{
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #211717;

    }
    .nav-mobile-button span:first-child{
       margin-top: 7px;

    }

    .nav-mobile-menu{
        z-index: 99;
        overflow: hidden;
        display: flex;
        position: absolute;
        height: 100vh;
        width: 0px;
        top: 0;
        left: 0;
        background-color: #550FED;
        transition: all ease 0.2s;
    }

    .nav-mobile-menu li{
        width: 100% !important;
        color: #fff;
        border-bottom: 1px solid #834bfb;
        margin-bottom: 16px;
        padding-left: 8px;
    }
    
    .nav-mobile-menu p {
        font-size: 20px;
        padding-left: 25px;
    }

    .nav-menu-close{
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;

    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        margin-top: 80px;
        padding-right: 10px;
    }

    .nav-menu-close img{
        width: 100%;
        height: 100%;
    }

    .principal{
        display: flex;
        flex-direction: column;
    }

    .cardsCar{
        margin-bottom: 16px !important;
    }

    .footer{
        width: 100% !important;
    }
    .footer-infos {
        display: none;
    }
    main {
        margin-top: 110px;
    }

    .boxOpcaoFiltro {
        display: block;
        margin-top: none;
    }

    /*FILTRO*/
    .boxFiltro{
        padding: 10px;
    }
    .boxOpcaoFiltro {
        width: 100%;
        display: inline;
    }
    .opcaoFiltro {
        display: flex;
        text-align: left;
    }

    .btnFiltro {
        width: 50px;
        height: 38px;
        border-radius: 8px;
        border: 1px solid grey;
        background-color: white;
    }
    .opcao {
        font-weight: 800;
        width: 100%;
    }
    .principal{
        margin-bottom: 0px;
    }
    /*FIM FILTRO*/
    .rowCars{
        flex-direction: column;
    }
}