*{
    font-family: 'Nunito', sans-serif;
}
.sideMenu{
    background: #ffffff;
    height: 100vh;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.021));
}
.nameAdm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameAdm h3{
    color: #242d3d;
    margin: 32px 0;
    font-weight: 800;
}

.actionClient{
    display: flex;
    flex-direction: column;
}

.actionClient h5{
    margin: 16px 0 16px 8px;
    color: #000;
    
}

.actionExit{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


 #btnSearch img{
    background-color: #5101FF;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
}

#btnSearch img:hover{
    background-color: #4b09d8;
}



.btnAction, .btnExit{
    background-color: transparent;
    border: none;
    height: 60px;
    margin: 10px;
    transition: 1s;
}

.btnAction:hover, .btnExit:hover{
    background-color: #202020;
    border: none;
    height: 60px;
    margin: 10px;
    transition: 0.4s;
    border-radius: 8px;
    filter: invert(1);
}

.btnExit{
    width: 100%;
    font-weight: 700;
    text-decoration: none;
    color: #39393a;
}


.btnExit:hover{
    background-color: #ca2e2e;
    filter: invert(0);
    color: #fff;
}



.btnAction div strong{
    color: #39393a;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 500;
}


.iconList, .iconEdit{
    display: flex;
    width: 25px;
    height: 25px;
}

.iconDelete{
    display: flex;
    width: 20px;
    height: 20px;
}

.iconList img, .iconEdit img, .iconDelete img{
    width: 100%;
    height: 100%;
}
.renderConteudo{
    background: #F8F6F7;
    height: 100vh;
}


.menuPesquisaSelect{
    padding: 15px;
    border: 1px solid #d1d1d1;
}

.menuPesquisa{
    height: 98px;
    background-color: #ffffff;
}

.menuPesquisa h4{
    margin: 0 200px 0 32px;

}

.menuPesquisaInput{
    background-color: #ececec;
    margin-right: 200px;
    padding: 10px;
    border-radius: 8px;
}

.menuPesquisaInput input{
    height: 40px;
    padding: 8px;
    background-color: transparent;
    color: rgb(14, 14, 14);
    border: none;
    outline: none;
    width: 280px;

}

.menuPesquisaInput input::placeholder{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.menuPesquisaInput button{
    height: 40px;
    border: none;
   
}

.visionTable{
    height: 80vh;
    overflow-y: scroll;
}

.boxTable{
    margin: 32px 0;
}


.table th{
    padding: 20px;
}


.table tbody{
    background-color: #5101FF !important;
    color: #fff !important;
    font-weight: 600;
}

.table thead{
    background-color: #5101FF  !important;
    color: #fff !important;
    font-weight: 600;

}

.table tbody tr td{
    font-size: 10pt;
}


.validacao, .validacaoData{
    display: none;
    font-size: 9pt;
    color: #ca2e2e;
}

.btn-primary {
    padding: 15px;
    width: 250px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}


.alertaConfirmacao{
    height: 80vh;
}

.botaoAlerta button{
    height: 55px;
    width: 175px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
}

.botaoAlerta button:hover{

    filter: brightness(0.85);
}

.botaoAlerta button:first-child{
    background-color: #89da0f;
}

.botaoAlerta button:last-child{
    background-color: #ca2e2e;
}