/* SCROLL SUAVE */

html {
    scroll-behavior: smooth;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #d5c6c6;
    border-radius: 20px;
}

/*Pardrão de tela inicial 1920x1080*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nunito, sans-serif;
}

/*Remover _reboot.scss*/
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

/*Remover _reboot.scss*/

body {
    background: #ffffff !important;
    font-family: 'Nunito', sans-serif;
    
}

header {
    position: relative;
    z-index: 9;
    background-color: white;
   
    filter: drop-shadow(0px 50px 250px rgba(0, 0, 0, 0.137));
}



/*Navbar*/
.nav {
    
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.mobile{
    display: none;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

}

.nav-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px 16px !important;
}



.nav ul li {
    list-style: none;
    width: 150px;
}

.nav .nav-contato,
.nav-ajuda {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav .nav-button button {
    width: 174px;
    height: 59px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12pt;
    background-color: #550FED;
    border-radius: 9px;

}


.nav-ajuda p,
.nav-contato p {
    font-weight: bold;
    margin-bottom: 0px;
}

.nav-user{
    width: 100%;
    position: relative;
}

.submenu-user{
    overflow: hidden;
    background-color: #550FED;

    width: 185px;
    height: auto;
    
    transform-origin:top;
    transform: scaleY(0);

    border: 1px solid #fff;
    top: 85%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 9;
    transition: all ease 0.2s;
}

.btn-box-button a{
    text-decoration: none !important;
}

.btn-box-button{
    border-bottom: 1px solid #fff;
}

.btn-user-button{
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 8px;
}

.btn-user-button:hover{
    background-color: #01e675;
}


.user-icon{
    min-width: 40px;
    height: 40px;
}
.user-icon img{
    height: 100%;
    width: 100%;
}

.nav-user-button{
    background-color: transparent;
    border: none;
    width: 100%;
}
.nav-user-button p{
    font-weight: 700;
    font-size: 11pt;
}


/*main*/

/*Sliders*/

.img-mobile {
    display: none;
}

.slider {
    overflow: hidden;
    padding-top: 30px;
    border-radius: 20px;
}
.slider-content {
    width: 400%;
    height: auto;
    display: flex;
    border-radius: 20px;
    
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s ease;

}

.slider img, svg {
    border-radius: 20px;
}

.slider-box img{
    width: 100%;
    height: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 1274px;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}



.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid rgb(197, 197, 197);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #8148fc;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #8148fc;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #8148fc;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #8148fc;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


/*Sliders*/

/*Section Algugel*/

.aluguel-box {
    background-color: red;
}

.aluguel-de-carro {
    margin-top: 60px;
    width: 100%;
    border-radius: 16px;

}

.aluguel-de-carro h2 {
    font-size: 40px;
    color: #414141;
    font-weight: bold;
}

.aluguel-de-carro p{
    font-size: 20px;
}

.botao-grande,
.botao-pequeno {
    padding: 30px;
    background-color: #f8f6f8;
    border: none;
    border-radius: 9px;
    margin-bottom: 16px;
    cursor: pointer;
}

.botao-grande::placeholder, .botao-pequeno::placeholder{
    font-size: 20px;
}

.botao-grande {
    width: 100%;
    height: 60px;
    
}

.botao-pequeno {
    width: 100%;
    height: 60px;
   
}

.botao-box2 button {
    width: 100%;
    height: 60px;
    border-radius: 9px;
    border: none;
    background-color: #8148fc;
    color: #fff;
    transition: 0.4s;
}

.botao-box2 button:hover {
    width: 100%;
    height: 60px;
    border-radius: 9px;
    border: none;
    background-color: #6a3bcf;
    color: #fff;
    transition: 0.4s;
}

.botao-box,
.botao-box2 {
    justify-content: center;
    width: 100%;
}
/*Section Aluguel*/


/*Section Carros*/

.bloco-principal a {
    background-color: #8148fc;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    border: none;
    transition: 0.4s;
}

.principal {
   width: 100%;
   margin-left: 0px !important;
   margin-top: 64px !important;
}

.bloco-principal{
    border: 1px solid #ffffff;
    background-color: rgb(250, 250, 250);
    width:100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
    transition: 1.4s;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.021));
 
}

.bloco-principal:hover{
    border: 1px solid #eae6e6;
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.067));
    transition: 0.3s;
 
}




#bloco2{
    margin: 0 32px;
}

.bloco-principal img {
    width: 90%;
}

.info-classes{
    min-height: 135px;
    max-height: 135px;
    margin-bottom: 8px;
}

.info-classes h2 {
    font-size: 16px;
    font-weight: 500;
    color: #5f5f5f;
}

.info-classes h3 {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: 400;
}




.bloco-principal a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.bloco-principal h2,
h3 {
    margin-bottom: 20px;
}
/*Section Carros*/

/*Section Informações*/
.informacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.informacao-box {
    background-color: #fcf8f8;
    padding: 50px 0 50px 0;
    margin: 50px 0 50px 0;
}

.quem-somos {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border-radius: 24px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.067));
    transition: 1s;
}

.quem-somos:hover {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border-radius: 24px;
    filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.067));
    transition: 0.3s;
}

.quem-somos-card{
    display: flex;
    padding: 30px;
}

#personagem2 {
   margin: 0 32px;
}

.quem-somos-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 220px;
    height: 220px;

}
.quem-somos-img img {
    width: 100%;
    height: 100%;
}

.infotexto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  
}

.infotexto h2 {
    display: flex;
    align-items: center;
    font-family: 'nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
    height: 58px;
    margin-top: 32px;
}

.infotexto p {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #404040;
    height: 150px;
    min-width: 70%;
}

.infotexto h3 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #550FED;
    margin-bottom: 32px;
}

.ajuda-container {
    display: flex;
    background-color: #550FED;
    border-radius: 15px;
    height: 186px;
    width: 100%;
    margin-top: 60px;
}

.ajuda-card {
    margin-left: 40px;
}

.ajuda-card h2 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 48px;
}

.ajuda-card p {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 10px;
}

.ajuda-card h3 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 10px;
}

.ajuda-card-imagem {
    flex-direction: row;
    height: 100%;
    margin-left: 15%;
}
/*Section Informações*/


/* OFERTAS EXCLUSIVAS */

.oferta img {
    width: 150px;
    margin-right: 50px;
}

.oferta h1 {
    padding-bottom: 10px;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.oferta {
    padding: 50px;
    border-radius: 20px;
}


.oferta form {
    width: 100%;
}



.oferta input {
    background-color: #f5eeee;
    width: 500px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    display: flex;
}

.btn-oferta {
    font-size: 20px;
    font-weight: 600;
    background-color: #9bf90c;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 50px;
    transition: 0.4s;
}

.btn-oferta:hover {
    font-size: 20px;
    font-weight: 600;
    background-color: #89da0f;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 50px;
}

.oferta ::placeholder {
   font-size: 20px;
}

/* ACORDEAO */



.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.7s;
  }
  
  .active, .accordion:hover {
    background-color: #550FED;
    color: white;
    transition: 0.8s;
  }
  
  .panel {
    padding: 30px 20px 10px 20px;
    display: none;
    background-color: white;
    overflow: hidden;
  }


/*  Perguntas Frequentes */

.pergunta-box{
    padding: 60px 0 60px 0;
    margin: 50px 0 0px 0;
}

.pergunta-box h2 {
    font-size: 40px;
    padding-bottom: 30px;
}


/*Footer*/

.footer-box {
    padding-top: 70px;
    background-color: #fcf8f8;
}

.footer-text{
    font-size: 13px;
}

footer h1 {
    color: #404040;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
}

footer h1:hover{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
}

footer p {
    color: #404040;
    font-size: 20px;
    padding-bottom: 10px;
}


.pag {
    padding-top: 25px;
}

.pag h1 {
    font-size: 25px;
    font-weight: 600;
}

.pag h1:hover {
    font-size: 25px;
    font-weight: 600;
}

.pag p {
    font-size: 15px;
}

.pag img {
    width: 48px;
    height: 48px;
    padding: 7px;
    transition: 0.4s;
}

.pag img:hover {
    border-radius: 5px;
    background-color: #00000012;
    width: 48px;
    padding: 7px;
    transition: 0.4s;
}

/*Whatsapp*/


.icon {
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
  }
  
  .icon .fab{
    padding-top: 9px;
  }
  
  .icon:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
    transition: 0.3s;
  }






 /*Medida 1024*/

 @media (max-width: 834px) { 
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }
    .mobile{
        display: flex;
    }
    .nav{
        display: flex;
        background-color: #fff;
        filter: drop-shadow(0px 50px 250px rgba(0, 0, 0, 0.511));
        height: 80px;
    }

    .nav-buttons{
        display: none;
    }

    .nav-options{
        display: flex;
        width: 100%;
        margin: 0 !important;
    }
   
    .nav-mobile-button{
        height: 40px;
        width: 50px;
        margin-right: 8px;
        margin-top: 8px;
        padding: 0px 8px;
        border: none;
        
        background-color: white;

    }

    .nav-mobile-button span{
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #211717;

    }
    .nav-mobile-button span:first-child{
       margin-top: 7px;

    }

    .nav-mobile-menu{
        z-index: 99;
        overflow: hidden;
        display: flex;
        position: absolute;
        height: 100vh;
        width: 0px;
        top: 0;
        left: 0;
        background-color: #550FED;
        transition: all ease 0.2s;
    }

    .nav-mobile-menu li{
        width: 100% !important;
        color: #fff;
        border-bottom: 1px solid #834bfb;
        margin-bottom: 16px;
        padding-left: 8px;
    }
    
    .nav-mobile-menu p {
        font-size: 20px;
        padding-left: 25px;
    }

    .nav-menu-close{
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;

    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        width: 100%;
        margin-top: 80px;
        padding-right: 10px;
    }

    .nav-menu-close img{
        width: 100%;
        height: 100%;
    }

    .section-oferta{
        flex-direction: column;
        margin-bottom: 60px;
    }

    .oferta-box h1{
        margin-bottom: 24px;
    }

    .oferta{
        padding: 0;
    }

    .banner{
       padding-top: 20%;
    }

    .ajuda-card-imagem{
        display: none;
    }

    .principal{
        display: flex;
        flex-direction: column;
    }

    .botao-box, .botao-box2, .aluguel-de-carro h2{
        padding-left: 0;
    }
    
    #bloco2{
        margin: 0px;
    }

    .bloco-principal{
        margin-bottom: 16px !important;
    }

  
    .informacao{
        display: flex;
        flex-direction: column;
    }


    #personagem2{
        margin: 16px 0;
    }

    .ajuda-card{
        margin-left: 30px;
    }

    .ajuda-card h2{
        margin-top: 30px;
    }

 

    .footer{
        width: 100% !important;
    }

    .footer-links h5{
        font-size: 12pt;
        margin: 0 16px;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
    }
    .footer-infos {
        display: none;
    }

    .footer-parceiros{
        flex-direction: row;
    }

    .footer-parceiros-logos{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pag img {
        width: 60px;
        height: 60px;
        padding: 7px;
        transition: 0.4s;
    }
    
    .pag img:hover {
        border-radius: 5px;
        background-color: #00000012;
        width: 60px;
        padding: 7px;
        transition: 0.4s;
    }

  }