/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #d5c6c6;
    border-radius: 20px;
}

/*Pardrão de tela inicial 1920x1080*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Sora, sans-serif;
}

/*Remover _reboot.scss*/
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

/*Remover _reboot.scss*/

body {
    background: #F8F6F7 !important;
    
}

header {
    background: white;
}

/*Navbar*/
.nav {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.mobile{
    display: none;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

}

.nav-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0px 16px !important;
}



.nav ul li {
    list-style: none;
    width: 150px;
}

.nav .nav-contato,
.nav-ajuda {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav .nav-button button {
    width: 174px;
    height: 59px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12pt;

    background: #550FED;
    border-radius: 9px;

}

.nav-ajuda p,
.nav-contato p {
    font-weight: 600;
    margin-bottom: 0px;
}

/*main*/

/*Section banner*/
.banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner-img {
    margin: 64px 0;
    width: 1320px;
}

.banner-img img {
    width: 100%;
    height: 100%;
}
/*Section banner*/

/*Section Algugel*/
.aluguel-de-carro {
    width: 100%;
    border-radius: 16px;

}

.aluguel-de-carro h2 {
    
    color: #414141;
    font-weight: 600;
    margin-bottom: 40px;
}

.botao-grande,
.botao-pequeno {
    padding: 30px;
    background-color: #f8f6f8;
    border: none;
    border-radius: 9px;
    margin-bottom: 16px;
    cursor: pointer;
    background-color: rgb(227, 227, 227);
}

.botao-grande::placeholder, .botao-pequeno::placeholder{
    font-size: 15px;
}

.botao-grande {
    width: 100%;
    height: 60px;
    
}

.botao-pequeno {
    width: 100%;
    height: 60px;
   
}

.botao-box2 button {
    width: 100%;
    height: 60px;
    border-radius: 9px;
    border: none;
    background-color: #550FED;
    color: #fff;
}

.botao-box,
.botao-box2 {
    justify-content: center;
    width: 100%;
}
/*Section Aluguel*/


/*Section Carros*/
.principal {
   width: 100%;
   margin-left: 0px !important;
   margin-top: 64px !important;
}

.bloco-principal{
    border: 1px solid rgb(236, 236, 236);
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.067));
 
}

#bloco2{
    margin: 0 32px;
}

.bloco-principal img {
    width: 90%;
}

.info-classes{
    min-height: 135px;
    max-height: 135px;
    margin-bottom: 8px;
}

.info-classes h2 {
    font-size: 16px;
    font-weight: 500;
    color: #5f5f5f;
}

.info-classes h3 {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: 400;
}

.bloco-principal button {
    background-color: #550fed;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;

}

.bloco-principal a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.bloco-principal h2,
h3 {
    margin-bottom: 20px;
}
/*Section Carros*/

/*Section Informações*/
.informacao {
    display: flex;
    width: 100%;
    margin-top: 60px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.quem-somos {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border-radius: 24px;
    filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.067));
}

.quem-somos-card{
    display: flex;
    padding: 30px;
}

#personagem2 {
   margin: 0 32px;
}

.quem-somos-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 220px;
    height: 220px;

}
.quem-somos-img img {
    width: 100%;
    height: 100%;
}

.infotexto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  
}

.infotexto h2 {
    display: flex;
    align-items: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
    height: 58px;
    margin-top: 32px;
}

.infotexto p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #404040;
    height: 150px;
    min-width: 70%;
}

.infotexto h3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #550FED;
    margin-bottom: 32px;
}

.ajuda-container {
    display: flex;
    background: #550FED;
    border-radius: 36px;
    height: 190px;
    width: 100%;
    margin-top: 60px;
}

.ajuda-card {
    margin-left: 40px;
}

.ajuda-card h2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 48px;
}

.ajuda-card p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 10px;
}

.ajuda-card h3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 10px;
}

.ajuda-card-imagem {
    flex-direction: row;
    height: 100%;
    margin-left: 15%;
}
/*Section Informações*/


/*Footer*/
.footer{
    width: 70% !important;
    margin-top: 64px;
}
.footer-links{
    margin-bottom: 16px;
}

.footer-links h5{
    
    margin: 0 32px;
   
}
.footer-links h5 a{
    text-decoration: none;
    color: #000000;
}
.footer-info p{
    font-size: 9pt;
    width: 75%;
}

/*Footer*/









 /*Medida 1024*/

 @media (max-width: 768px) { 
    .mobile{
        display: flex;
    }
    .nav{
        position: fixed;
        background-color: #fff
    }

    .nav-buttons{
        display: none;
    }

    .nav-options{
        display: flex;
        width: 100%;
        margin: 0 !important;
    }
    .nav-menu{
    }
    .nav-mobile-button{
        
        height: 40px;
        width: 50px;
        margin-right: 8px;
        margin-top: 8px;
        padding: 0px 8px;
        background-color: #550FED;
        border: none;
        border-radius: 8px;

    }

    .nav-mobile-button span{
        display: block;

       
        width: 100%;
        height: 2px;
        margin-bottom: 8px;
        
        background-color: #ffffff;

    }
    .nav-mobile-button span:first-child{
       margin-top: 7px;

    }

    .nav-mobile-menu{
        overflow: hidden;
        display: flex;
        position: absolute;
        height: 100vh;
        width: 0px;
        top: 0;
        left: 0;
        background-color: #550FED;

        transition: all ease 0.2s;
    }

    .nav-mobile-menu li{
        width: 100% !important;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 16px;
        padding-left: 8px;
    }
    
    .nav-menu-close{
        height: 40px;
        width: 40px;
        background-color: transparent;
        border: none;

    }

    .nav-menu-close img{
        width: 100%;
        height: 100%;
    }

    .banner{
       padding-top: 20%;
    }

    .ajuda-card-imagem{
        display: none;
    }

    .principal{
        display: flex;
        flex-direction: column;
    }

    .botao-box, .botao-box2, .aluguel-de-carro h2{
        padding-left: 0;
    }
    
    #bloco2{
        margin: 0px;
    }

    .bloco-principal{
        margin-bottom: 16px !important;
    }

    .informacao{
        display: flex;
        flex-direction: column;
    }

    #personagem2{
        margin: 0;
    }

    .quem-somos{
        margin-bottom: 16px;
        
    }

    .ajuda-card{
        margin-left: 30px;
    }

    .ajuda-card h2{
        margin-top: 30px;
    }

    .footer{
        width: 100% !important;
    }

    .footer-links h5{
        font-size: 12pt;
        margin: 0 16px;
    }

    .footer-info p{
        width: 90%;
    }
  }