* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Sora, sans-serif;
}

body{
    background: #F8F6F7 !important;
}

.box-modal{
    height: 100vh;
}

.msgErro{
    display: none;
    color: #ca2e2e;
}

.modal-login{
    background-color: #fff;
    height: 500px;
    width: 100%;
    border-radius: 16px;
    padding: 32px !important;
    filter: drop-shadow(0px 50px 250px rgba(0, 0, 0, 0.247));
}


.modal-logo{
    margin: 32px 0 0 0;
}

.modal-login h5{
    margin: 16px 0;
}


 .modal-input{
    background-color: #EDF2F7;
    width: 100%;
    margin-bottom: 16px;
    padding: 5px;
}

.modal-input img{
    width: 20px;
    height: 20px;
    margin: 0 16px;
}

.modal-input input{
    height: 48px;
    width: 84%;
    background-color: transparent;
    border: none;
    color: #262627c7;
}

.modal-input input:focus{
    outline: none;
}
.modal-login p{
    font-size: 11pt;
    color: #777777;
}

.modal-buttons{
    display: flex;
    flex-direction: column;
}

.modal-buttons button{
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
}

.modal-buttons button:first-child{
    background: #550FED ;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    transition: 0.4s;
}

.modal-buttons button:first-child:hover{
    background: #470dc4 ;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
}

.modal-buttons button:last-child{
    background: transparent ;
    color: #4A5568;
    font-weight: 600;
    border: 1px solid #222222b0;
    transition: 0.4s;
}

.modal-buttons button:last-child:hover{
    background: #4A5568;
    color: white;
    font-weight: 600;
    border: 1px solid #222222b0;
}


@media (max-width: 435px) {
    .modal-input{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .modal-input input{
        font-size: 20pt;
    }
}