
.botao-box2 button {
    width: 100%;
    height: 60px;
    border-radius: 9px;
    border: none;
    background-color: #8148fc;
    color: #fff;
    transition: 0.4s;
}

.botao-box2 button:hover {
    width: 100%;
    height: 60px;
    border-radius: 9px;
    border: none;
    background-color: #6a3bcf;
    color: #fff;
    transition: 0.4s;
}

.botao-box,
.botao-box2 {
    justify-content: center;

}

.botao-box, .botao-box2, .aluguel-de-carro h2{
    padding-left: 0;
}

.botao-grande,
.botao-pequeno {
    padding: 30px;
    background-color: #f8f6f8;
    border: none;
    border-radius: 9px;
    margin-bottom: 16px;
    cursor: pointer;
}

.botao-grande::placeholder{
    font-size: 15px !important;
}

.botao-pequeno::placeholder{
    font-size: 15px !important;
}

.botao-grande {
    width: 100%;
    height: 60px;
    
}

.botao-pequeno {
    width: 100%;
    height: 60px;
   
}